<<<<<<< HEAD
<h1>User Profile</h1>



<div class="user">
  
  <h1>
    <%= @user.name %>
  </h1> 

  <table>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
  </table>

=======
>>>>>>> 3078b06b3d3d7f9c53974e2326f8e29a69bcfa88


<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>
<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<b > Profile Picture: </b>
  <%= image_tag @user.avatar.url %>
</div>


 <p>

  <b>Backed Projects:</b> </br>
  
  <% @projects.each do |project| %>
  <b> Project name: </b>
 <%=project.name%> 
 <b> Description: </b>
 <%=project.description%> 
 <b> Funding Goal: </b>
 <%=project.funding_goal%> </br>
    
  <%end%>
  </p> 
<b> Total Amount Pledged: </b>
<%=@user.total_amount_pledged%>
