<h1>Listing Projects</h1>


<% @projects.each do |project| %>
     <%= link_to project.name, project_path(project.id) %>

     <p><%= project.description %></p>
     <p><%= project.funding_goal %></p> 
     <p><%= project.start_date%></p>
     <p><%= project.end_date%></p>

  

    <% project.rewards.each do |reward| %>
        <div  class="reward">
            <h4><%= reward.description %></h4>
            <p><%= reward.amount %></p>
        </div>




        
     <% end %>
 <% end %>






<button><%= link_to 'Create New Project', new_project_path %></button>




