


<h1>Project <%= @project.name %></h1>



<p><%= @project.description %><br/>
<%= @project.funding_goal %><br/>
<%= @project.start_date %><br/>
<%= @project.end_date %><br/>
<%= @project.funding_goal %><p> 




<%= link_to 'Back', projects_new %><br/>
<%= link_to 'Delete', projects_id %>

<% if current_user == @project.user %>
  <%= link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>
<% end %>











